<div class="container">

  <%= simple_form_for @profile do |f| %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'button secondary-button'%>

  <% end %>

</div>
