<%= render "layouts/banner" %>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <% if @bears.size == 0 %>
      <h4 class="text-center no-results-message">Sorry, seems like there are no gummy bears matching your search...</h4>
    <% else %>
      <% @bears.each do |bear|%>
        <div class="pt-4 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <%= link_to bear_path(bear.id) do %>
            <div class="card shadow-sm">
              <% if bear.photo.attached? %>
                <%= cl_image_tag bear.photo.key, height: 400, width: 400, crop: :fill, class: "card-img-top" %>
              <% end %>
              <div class="card-body text-dark">
                <h5 class="card-title mb-2"><%= bear.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= bear.personality %></h6>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
