<div>
  <h1>Create new Bear</h1>

  <div>
    <%= simple_form_for(@bear) do |f| %>
      <%= f.input :name %>
      <%= f.input :personality %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

  <div>
    <%= link_to "Homepage", bears_path %>
  </div>
</div>
