<% if @bear.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@bear.photo.key) %>)"></div>
<% end %>

<div class="container">

  <div class="mt-4">

      <div>
        <h1 class="mb-3"><%= @bear.name %></h1>
        <h4 class="mb-3"><%= @bear.personality %></h4>
        <p class="mb-3"><%= @bear.description %></p>
        <p class="price-button">€<%= @bear.price %></p>
      </div>

      <div class="row" id="favourite">
        <% if @favourite %>
          <%= link_to favourite_path(@favourite) ,data: { 'turbo-method': :delete } do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to bear_favourites_path(@bear) ,data: { 'turbo-method': :post } do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        <% end %>
      </div>

      <div class="float-end p-4 bg-white rounded shadow p-3 mb-5 bg-white rounded">
        <div data-controller="flatpickr" class="form-height">
        <%= simple_form_for([@bear, @booking]) do |f| %>
          <%= f.input :date_start, as: :string, input_html: {class:"datepicker"} %>
          <%= f.input :date_finish, as: :string, input_html: {class:"datepicker"} %>
          <%= f.submit class: 'button primary-button' %>
        <% end %>
      </div>
    </div>

</div>
