<div>
  <h1><%= @bear.name %></h1>
  <h2><%= @bear.personality %></h2>

  <div class="">
    <% if @bear.photo.attached? %>
      <%= cl_image_tag @bear.photo.key, height: 400, width: 400, crop: :fill %>
    <% end %>
  </div>

  <p><%= @bear.description %></p>
  <p><%= @bear.price %></p>

  <div>
    <%= simple_form_for([@bear, @booking]) do |f| %>
      <%= f.input :date_start %>
      <%= f.input :date_finish %>
      <%= f.submit %>
    <% end %>
  </div>
  <div>
    <%= link_to "Homepage", bears_path %>
  </div>
</div>
