<div class="container">

  <h1><%= @bear.name %></h1>
  <h2><%= @bear.personality %></h2>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <% if @bear.photo.attached? %>
          <%= cl_image_tag @bear.photo.key, height: 400, width: 400, crop: :fill %>
        <% end %>
        <p></p>
        <p><%= @bear.description %></p>
        <p><%= @bear.price %></p>
      </div>
      <div class="col-sm">

      <div data-controller="flatpickr">
      <%= simple_form_for([@bear, @booking]) do |f| %>
      <%= f.input :date_start, as: :string, input_html: {class:"datepicker"} %>
      <%= f.input :date_finish, as: :string, input_html: {class:"datepicker"} %>
      <%= f.submit %>
    <% end %>
   </div>
  </div>

  <div>
    <%= link_to "Homepage", bears_path %>
  </div>
</div>
