<% if @bear.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@bear.photo.key) %>)"></div>
<% end %>

<div class="container">

  <div class="row show-details shadow-sm">

    <div class="col-sm-12 col-lg-7">

      <div class="d-flex flex-inline">
        <% if @favourite %>
          <%= link_to favourite_path(@favourite) ,data: { 'turbo-method': :delete } do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to bear_favourites_path(@bear) ,data: { 'turbo-method': :post } do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        <% end %>
        <h1 class="name"><%= @bear.name %></h1>
      </div>

      <h4 class="mb-3 personality"><%= @bear.personality %></h4>
      <p class="mb-3"><%= @bear.description %></p>
      <div class="d-flex justify-content-between">
        <div>
          <h5 class="price-button price">€<%= @bear.price %></h5>
        </div>
        <div class="d-flex">
        <% current_user.bears.ids.each do |id| %>
          <% if id == @bear.id %>
            <div class="m-1">
              <%= link_to edit_bear_path(@bear) do %>
                <div>
                  <h5 class ="edit">Edit</h5>
                </div>
              <% end %>
            </div>
            <div class="m-1">
              <%= link_to bear_path(@bear), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your bear? 😢"} do %>
                <div>
                  <h5 class ="edit">Delete</h5>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div>


    <div class="col-sm-12 col-lg-4 p-4 bg-white rounded shadow p-3 mb-5 bg-white rounded">
      <div data-controller="flatpickr" class="form-height">
      <%= simple_form_for([@bear, @booking]) do |f| %>
        <%= f.input :date_start, as: :string, input_html: {class:"datepicker"} %>
        <%= f.input :date_finish, as: :string, input_html: {class:"datepicker"} %>
        <%= f.submit class: 'button primary-button' %>
      <% end %>
      </div>
    </div>

  </div>

</div>
