<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>)">
  <div class="container text-center">
    <h1>The sweet kick you needed</h1>
    <p>Book your personal gummy <strong>Boss Bear</strong></p>

    <div class="form-container">
        <%= form_with url: bears_path, method: :get do |f| %>
            <div class="text">
              <%= text_field_tag :query, params[:query], class: "form-control",
                  placeholder: "Find a bear" %>
              <small><%= link_to "Reset search", bears_path %></small>
            </div>
            <div class="search">
              <%= submit_tag "Search", class: "button primary-button" %>
            </div>
        <% end %>
    </div>
  </div>
</div>
